<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/neo4j"
            deprecated="false"
            factory-class="se.redfield.knime.neo4jextension.Neo4JReaderFactory">
      </node>
      <node
            category-path="/neo4j"
            deprecated="false"
            factory-class="se.redfield.knime.neo4jextension.Neo4JConnectorFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/neo4j-16x16.png"
            level-id="neo4j"
            locked="true"
            name="Neo4J"
            path="/">
      </category>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="red"
            hidden="false"
            name="se.redfield.knime.neo4jextension.neo4jconnector"
            objectClass="se.redfield.knime.neo4jextension.ConnectorPortObject"
            objectSerializer="se.redfield.knime.neo4jextension.ConnectorPortObjectSer"
            specClass="se.redfield.knime.neo4jextension.ConnectorSpec"
            specSerializer="se.redfield.knime.neo4jextension.ConnectorSpecSer">
      </portType>
   </extension>
</plugin>
